.container{
    margin: 5px 0 5px 10px;
    display: flex;
    width: 95%;
    flex-wrap: wrap;
}
.container_desc{
    flex-direction: column;
    padding-left: 15px;
    max-width: 60%;
}
.container_img{
    max-width: 100px;
    max-height: 80px;
    border-radius: 20px;
}
.container h1{
    margin: 0;
    font-size: 25px;
}
.container h3{
    margin: 0;
    text-transform: capitalize;
    font-size: small;
}

@media (max-width:600px) {

    .container p{
    }

    .container h1{
        margin: 0;
        overflow:scroll;
        max-width: 450px;
        max-height: 160px;
        padding: 5px;
    
    }
    .container{
        align-items: center;
    }
    
}