.container{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.container div{
width: 500px;
}
@media (max-width:500px)
{
    .container div{
        width: 98%;
        align-items: center;
        justify-content: center;
    }
}
