:root{
    --fondo:  #00453d;
    --color2:  #D2E9E9;
    --color3:  #E3F4F4;
    --color4:  #889d62;
    --color5:  #C4DFDF4;
    --colortext: black;
}
.app{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.principal{
    top:50%;
    right: 50%;

}